*.swp                                                                                                                                                                   *.exe
*.exe
*.out
.idea/*
__pycache__